<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .btn-edit {
        outline: none;
        border: none;
        background: orange;
        height: 25px;
        width: 60px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-delete {
        outline: none;
        border: none;
        background: red;
        height: 25px;
        width: 60px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<body>
    <table style="width: 100%;">
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>RoleId</th>
            <th>PositionId</th>
            <th>Actions</th>
        </tr>
        <% for(let i=0; i<data.length; i++) { %>
            <tr>
                <td>
                    <%= data[i].email %>
                </td>
                <td>
                    <%= data[i].firstName %>
                </td>
                <td>
                    <%= data[i].lastName %>
                </td>
                <td>
                    <%= data[i].address %>
                </td>
                <td>
                    <%= data[i].phoneNumber %>
                </td>
                <td>
                    <%= data[i].gender %>
                </td>
                <td>
                    <%= data[i].roleId %>
                </td>
                <td>
                    <%= data[i].positionId %>
                </td>
                <td>
                    <a href="/edit-crud?id=<%= data[i].id%>" class="btn-edit" type="button">Edit</a>
                    <a href="/delete-crud?id=<%= data[i].id%>" class="btn-delete" type="button">Delete</a>
                </td>
            </tr>
            <%} %>
    </table>
</body>

</html>